In [1]:
import pandas as pd

In [4]:
movies=pd.read_csv("100 Best Movies on Netflix.csv")

In [6]:
movies

,Rank,Movie Title,Year,Score,Director,Cast,Critics Consensus
0,1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell...",Featuring genuine scares through every corrido...
1,2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ...","Boasting dazzling animation, a script with sur..."
2,3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim",The Forty-Year-Old Version opens a compelling ...
3,4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R...",Under the Shadow deftly blends seemingly dispa...
4,5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er...",A cult classic as gut-bustingly hilarious as i...
...,...,...,...,...,...,...,...
95,96,Fear Street Part Three: 1666,2021,88,Leigh Janiak,"Kiana Madeira, Ashley Zukerman, Gillian Jacobs...",Fear Street Part Three: 1666 sends the slasher...
96,97,Donnie Brasco,1997,88,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ...","A stark, nuanced portrait of life in organized..."
97,98,Inception,2010,87,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...","Smart, innovative, and thrilling, Inception is..."
98,99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes...","Flawlessly cast and brimming with dark, acid w..."
99,100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David...","Kung Fu Panda has a familiar message, but the ..."

In [ ]:
movies.head()

,Rank,Movie Title,Year,Score,Director,Cast,Critics Consensus
0,1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell...",Featuring genuine scares through every corrido...
1,2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ...","Boasting dazzling animation, a script with sur..."
2,3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim",The Forty-Year-Old Version opens a compelling ...
3,4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R...",Under the Shadow deftly blends seemingly dispa...
4,5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er...",A cult classic as gut-bustingly hilarious as i...

In [ ]:
movies.head(10)

,Rank,Movie Title,Year,Score,Director,Cast,Critics Consensus
0,1,His House,2020,100,Remi Weekes,"Wunmi Mosaku, Sope Dirisu, Matt Smith, Cornell...",Featuring genuine scares through every corrido...
1,2,How to Train Your Dragon,2010,99,Christopher Sanders,"Jay Baruchel, Gerard Butler, America Ferrera, ...","Boasting dazzling animation, a script with sur..."
2,3,The Forty-Year-Old Version,2020,99,Radha Blank,"Welker White, Reed Birney, Radha Blank, Peter Kim",The Forty-Year-Old Version opens a compelling ...
3,4,Under the Shadow,2016,99,Babak Anvari,"Narges Rashidi, Avin Manshadi, Bobby Naderi, R...",Under the Shadow deftly blends seemingly dispa...
4,5,Monty Python and the Holy Grail,1975,98,Terry Gilliam,"Graham Chapman, John Cleese, Terry Gilliam, Er...",A cult classic as gut-bustingly hilarious as i...
5,6,Ma Rainey's Black Bottom,2020,97,George C. Wolfe,"Viola Davis, Chadwick Boseman, Glynn Turman, C...","Framed by a pair of powerhouse performances, M..."
6,7,The Hurt Locker,2008,97,Kathryn Bigelow,"Jeremy Renner, Anthony Mackie, Brian Geraghty,...","A well-acted, intensely shot, action filled wa..."
7,8,Hell or High Water,2016,97,David Mackenzie,"Jeff Bridges, Chris Pine, Ben Foster, Gil Birm...","Hell or High Water offers a solidly crafted, w..."
8,9,Won't You Be My Neighbor?,2018,97,Morgan Neville,"Joanne Rogers, Bill Isler, Hedda Sharapan, Mar...",Won't You Be My Neighbor? takes a fittingly pa...
9,10,Dolemite Is My Name,2019,97,Craig Brewer,"Eddie Murphy, Wesley Snipes, Kodi Smit-McPhee,...",In dramatizing Rudy Ray Moore's stranger-than-...

In [ ]:
movies.tail()

,Rank,Movie Title,Year,Score,Director,Cast,Critics Consensus
95,96,Fear Street Part Three: 1666,2021,88,Leigh Janiak,"Kiana Madeira, Ashley Zukerman, Gillian Jacobs...",Fear Street Part Three: 1666 sends the slasher...
96,97,Donnie Brasco,1997,88,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ...","A stark, nuanced portrait of life in organized..."
97,98,Inception,2010,87,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...","Smart, innovative, and thrilling, Inception is..."
98,99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes...","Flawlessly cast and brimming with dark, acid w..."
99,100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David...","Kung Fu Panda has a familiar message, but the ..."

In [ ]:
movies.tail(10)

,Rank,Movie Title,Year,Score,Director,Cast,Critics Consensus
90,91,Paddleton,2019,89,Alexandre Lehmann,"Mark Duplass, Ray Romano, Marguerite Moreau, C...","It takes its time coming together, but the qui..."
91,92,Rango,2011,88,Gore Verbinski,"Johnny Depp, Isla Fisher, Abigail Breslin, Ned...","Rango is a smart, giddily creative burst of be..."
92,93,The Bad Guys,2022,88,Pierre Perifel,"Sam Rockwell, Zazie Beetz, Marc Maron, Awkwafina","Fast-paced, funny, and full of colorful visual..."
93,94,Dope,2015,88,Rick Famuyiwa,"Shameik Moore, Tony Revolori, Kiersey Clemons,...",Featuring a starmaking performance from Shamei...
94,95,Oxygen,2021,88,Alexandre Aja,"Mélanie Laurent, Mathieu Amalric, Malik Zidi, ...",Oxygen gets the white-knuckle maximum out of i...
95,96,Fear Street Part Three: 1666,2021,88,Leigh Janiak,"Kiana Madeira, Ashley Zukerman, Gillian Jacobs...",Fear Street Part Three: 1666 sends the slasher...
96,97,Donnie Brasco,1997,88,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ...","A stark, nuanced portrait of life in organized..."
97,98,Inception,2010,87,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...","Smart, innovative, and thrilling, Inception is..."
98,99,American Beauty,1999,87,Sam Mendes,"Kevin Spacey, Annette Bening, Thora Birch, Wes...","Flawlessly cast and brimming with dark, acid w..."
99,100,Kung Fu Panda,2008,87,John Stevenson,"Jack Black, Angelina Jolie, Jackie Chan, David...","Kung Fu Panda has a familiar message, but the ..."

In [ ]:
movies["Movie Title"].head()

0                          His House
1           How to Train Your Dragon
2         The Forty-Year-Old Version
3                   Under the Shadow
4    Monty Python and the Holy Grail
Name: Movie Title, dtype: object

In [ ]:
movies[ 'Score'].head()

0    100
1     99
2     99
3     99
4     98
Name: Score, dtype: int64

In [ ]:
movies[['Movie Title','Score']]

                        Movie Title  Score
0                         His House    100
1          How to Train Your Dragon     99
2        The Forty-Year-Old Version     99
3                  Under the Shadow     99
4   Monty Python and the Holy Grail     98
..                              ...    ...
95     Fear Street Part Three: 1666     88
96                    Donnie Brasco     88
97                        Inception     87
98                  American Beauty     87
99                    Kung Fu Panda     87

[100 rows x 2 columns]

In [ ]:
movies[['Movie Title','Score']].head()

                       Movie Title  Score
0                        His House    100
1         How to Train Your Dragon     99
2       The Forty-Year-Old Version     99
3                 Under the Shadow     99
4  Monty Python and the Holy Grail     98

In [ ]:
movies[['Movie Title','Score']].tail(7)

                     Movie Title  Score
93                          Dope     88
94                        Oxygen     88
95  Fear Street Part Three: 1666     88
96                 Donnie Brasco     88
97                     Inception     87
98               American Beauty     87
99                 Kung Fu Panda     87

In [ ]:
movies[['Movie Title','Score']].loc[5:10]

                  Movie Title  Score
5    Ma Rainey's Black Bottom     97
6             The Hurt Locker     97
7          Hell or High Water     97
8   Won't You Be My Neighbor?     97
9         Dolemite Is My Name     97
10  Hunt for the Wilderpeople     97

In [ ]:
# drop() metodu - belirtilen satır veya sütunları siler
# Örnek: İlk satırı silmek için
movies.drop(0)

ValueError: ignored

In [ ]:
# Sütun silmek için
movies.drop('Score', axis=1)

In [ ]:
# info() - DataFrame hakkında bilgi verir
movies.info()

In [ ]:
# describe() - sayısal sütunlar için istatistiksel özet
movies.describe()

In [ ]:
# shape - DataFrame boyutları
movies.shape

In [ ]:
# columns - sütun isimlerini gösterir
movies.columns

In [ ]:
# Filtreleme - Score'u 8'den büyük olan filmler
movies[movies['Score'] > 8]

In [ ]:
# Sıralama - Score'a göre azalan sırada
movies.sort_values('Score', ascending=False)

In [ ]:
# Groupby - kategorilere göre gruplama ve ortalama
# Örnek: Eğer 'Genre' sütunu varsa
# movies.groupby('Genre')['Score'].mean()

In [ ]:
# isnull() - eksik değerleri kontrol etme
movies.isnull().sum()

In [ ]:
# fillna() - eksik değerleri doldurma
# movies.fillna(0)  # eksik değerleri 0 ile doldurur

In [ ]:
# Yeni sütun ekleme
movies['Score_Category'] = movies['Score'].apply(lambda x: 'High' if x > 8 else 'Low')
movies.head()

In [ ]:
# value_counts() - kategorik değerlerin sayısını gösterir
# Örnek: Her yılda kaç film var?
movies['Year'].value_counts()

In [ ]:
# unique() ve nunique() - benzersiz değerler
print("Benzersiz yıl sayısı:", movies['Year'].nunique())
print("Benzersiz yıllar:", movies['Year'].unique()[:10])  # İlk 10 yıl

In [ ]:
# String işlemleri - .str erişicisi ile
# Film isimlerinin uzunluğunu hesaplama
movies['Title_Length'] = movies['Movie Title'].str.len()
movies[['Movie Title', 'Title_Length']].head()

In [ ]:
# String içinde arama - belirli kelimeyi içeren filmler
movies[movies['Movie Title'].str.contains('Dragon', case=False)]

In [ ]:
# Aggregation (toplulaştırma) işlemleri
# Yıllara göre ortalama score
movies.groupby('Year')['Score'].mean().sort_values(ascending=False).head(10)

In [ ]:
# Birden fazla aggregation fonksiyonu
movies.groupby('Year')['Score'].agg(['mean', 'min', 'max', 'count']).head(10)

In [ ]:
# query() metodu ile filtreleme (daha okunabilir)
movies.query('Score > 95 and Year > 2010')

In [ ]:
# replace() - değer değiştirme
# Örnek: Score'u kategorilere çevirme
movies['Score_Category'] = movies['Score'].replace(
    {range(90, 101): 'Excellent', 
     range(80, 90): 'Good', 
     range(70, 80): 'Average'}, 
    regex=False
)
# Daha basit yöntem:
movies['Score_Category'] = pd.cut(movies['Score'], 
                                  bins=[0, 80, 90, 100], 
                                  labels=['Good', 'Very Good', 'Excellent'])
movies[['Movie Title', 'Score', 'Score_Category']].head()

In [ ]:
# pivot_table - çapraz tablo oluşturma
# Yıllara göre score dağılımı (eğer kategori varsa)
# Örnek: Yıllara göre ortalama score pivot tablosu
movies.pivot_table(values='Score', index='Year', aggfunc='mean').head(10)

In [ ]:
# concat() - DataFrame'leri birleştirme
# Örnek: İlk 5 ve son 5 filmi birleştirme
top_5 = movies.head(5)
bottom_5 = movies.tail(5)
combined = pd.concat([top_5, bottom_5], ignore_index=True)
combined[['Movie Title', 'Score']]

In [ ]:
# merge() - iki DataFrame'i birleştirme
# Örnek: Yıllara göre istatistikler oluşturup birleştirme
year_stats = movies.groupby('Year').agg({
    'Score': ['mean', 'count']
}).reset_index()
year_stats.columns = ['Year', 'Avg_Score', 'Movie_Count']
# Orijinal DataFrame ile birleştirme
movies_with_stats = movies.merge(year_stats, on='Year', how='left')
movies_with_stats[['Movie Title', 'Year', 'Score', 'Avg_Score', 'Movie_Count']].head()

In [ ]:
# nlargest() ve nsmallest() - en büyük/küçük değerler
# En yüksek score'a sahip 5 film
movies.nlargest(5, 'Score')[['Movie Title', 'Year', 'Score']]

In [ ]:
# duplicated() - tekrar eden kayıtları bulma
# Tekrar eden yılları kontrol etme (bu örnekte her film farklı)
print("Tekrar eden kayıt sayısı:", movies.duplicated().sum())
# drop_duplicates() - tekrarları silme
# movies.drop_duplicates(subset=['Year'], keep='first')

In [ ]:
# reset_index() - index'i sıfırlama
# Sıralama yaptıktan sonra index'i düzeltme
sorted_movies = movies.sort_values('Score', ascending=False).reset_index(drop=True)
sorted_movies.head()

In [ ]:
# to_csv() - DataFrame'i CSV'ye kaydetme
# movies.to_csv('sorted_movies.csv', index=False)
# print("DataFrame CSV dosyasına kaydedildi!")

In [ ]:
# İleri seviye filtreleme - birden fazla koşul
# Score'u 90'dan büyük VE 2010'dan sonra çıkan filmler
high_score_recent = movies[(movies['Score'] > 90) & (movies['Year'] > 2010)]
high_score_recent[['Movie Title', 'Year', 'Score']]

In [ ]:
# isin() - belirli değerler listesinde olanları filtreleme
# Belirli yıllardaki filmler
specific_years = movies[movies['Year'].isin([2010, 2020, 2021])]
specific_years[['Movie Title', 'Year', 'Score']].sort_values('Year')

In [ ]:
# rename() - sütun isimlerini değiştirme
movies_renamed = movies.rename(columns={'Movie Title': 'Film_Adi', 'Score': 'Puan'})
movies_renamed[['Film_Adi', 'Puan']].head()

In [ ]:
# copy() - DataFrame'in kopyasını oluşturma
movies_copy = movies.copy()
# Kopya üzerinde değişiklik yapmak güvenlidir, orijinal etkilenmez

In [ ]:
# Tüm sayısal sütunlar için istatistikler
movies.select_dtypes(include=['int64', 'float64']).describe()

In [ ]:
# memory_usage() - bellek kullanımını kontrol etme
print("Bellek kullanımı (byte):")
print(movies.memory_usage(deep=True))